.services {
  background-image: url("../../assets/wave2.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.service_title {
  font-size: 2rem;
  width: 26rem;
  color: #171347;
  padding: 2rem 0;
}
.service_desc {
  padding-top: 1rem;
  line-height: 1.8rem;
  width: 26rem;
  color: #718096;
}
.service_desc2 {
  padding-top: 1rem;
  line-height: 1.5rem;
  width: 28rem;
  color: #718096;
  font-size: 0.85rem;
}
.service_left > div {
  width: 18rem;
  margin-top: 1.2rem;
}
.about_btn {
  width: 8rem;
  height: 3rem;
  border-radius: 0.3rem;
  font-size: 1.1rem;
  border: 0.1px solid white;
  margin-right: 0.5rem;
  cursor: pointer;
  background-color: #0033cc;
  color: white;
  margin: 1rem 0;
  transition: 0.2s ease-in-out;
}
.about_btn:hover {
  background-color: #002596;
}
.about_btn:active {
  background-color: #0033cc;
}
.service_right {
  /* width: 35rem; */
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.service_right > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.service_card {
  border-bottom: 5px solid #0033cc;
  width: 13rem;
  height: 14rem;
  margin: 1rem;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  box-shadow: 1px 1px 8px rgb(201, 201, 201);
}
.service_card > h3 {
  width: 80%;
  text-align: center;
  color: #171347;
}
.service_card:hover {
  box-shadow: 1px 1px 12px rgb(174, 174, 174);
  transform: translateY(-0.8rem);
  transition: 0.5s ease-in-out;
}
.icon_div {
  background-color: #0033cc;
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 73% 27% 38% 62%/40% 43% 57% 60%;
}
.card_icon {
  width: 40%;
  height: 40%;
  color: white;
}

@media (max-width: 979px) {
  .services {
    flex-direction: column;
    padding: 0 6rem;
  }
  .service_right {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .service_title {
    width: 100%;
    padding-top: 3rem;
  }
  .service_desc {
    width: 100%;
  }
  .service_desc2 {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .services {
    padding: 0 2rem;
  }
  .about_btn {
    width: 7rem;
    height: 3rem;
  }
  .service_title {
    font-size: 2.5rem;
    width: 100%;
  }
  .service_desc {
    margin: 1rem 0;
  }
  .service_desc2 {
    margin: 1rem 0;
  }
  .service_left > div {
    margin-top: 2rem;
  }
}

@media (max-width: 557px) {
  .services {
    padding: 0 1rem;
  }
  .service_right > img {
    width: 95vw;
  }
  .service_right {
    width: 95%;
    margin-top: 2rem;
    flex-direction: column;
    align-items: center;
  }
  .service_right > span {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
  .service_right > div {
    width: 100%;
  }
  .service_card {
    width: 90%;
  }
  .service_title {
    font-size: 1.95rem;
    width: 100%;
  }
  .about_btn {
    width: 6rem;
    height: 3rem;
    font-size: 0.85rem;
  }
}
@media (max-width: 400px) {
  .service_right > img {
    width: 97vw;
  }
}
