.feature_header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.feature_title {
  font-size: 2rem;
  width: 50%;
  color: #171347;
  padding: 2rem 0;
  text-align: center;
}
.feature_desc {
  padding-top: 1rem;
  line-height: 1.8rem;
  width: 70%;
  color: #718096;
  text-align: center;
}
.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 5rem 0;
}
.tab > span {
  width: 99%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.tab > span:first-child {
  width: 90%;
  border-bottom: 0.5px solid rgb(214, 214, 214);
}
.tabLink {
  margin: 0 1rem;
  width: 12rem;
  height: 7rem;
  cursor: pointer;
  background-color: white;
  border: none;
  color: #171347;
}
.tabLink > p {
  font-size: 1.2rem;
}
.tabContent {
  width: 100%;
}
.tab_icon {
  width: 3rem;
  height: 3rem;
  margin-bottom: 1rem;
}
@media (max-width: 750px) {
  .tab > span:first-child {
    width: 90%;
  }
  .tabLink > p {
    display: none;
  }
  .tabLink {
    width: 10rem;
    height: 5rem;
    margin: 0;
  }
  .features_tab > h1 {
    border: 1px solid;
    width: 80%;
  }
  .feature_title {
    font-size: 2.5rem;
    width: 100%;
  }
}

@media (max-width: 557px) {
  .feature_title {
    font-size: 1.85rem;
    width: 100%;
  }
  .tab_icon {
    width: 2rem;
    height: 2rem;
  }
}
