.tab_content {
  width: 100%;
  display: flex;
}
.tab_left {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tab_left > img {
  width: 100%;
}
.tab_right {
  padding: 1rem;
}
.tab_right > h1 {
  width: 80%;
  color: #171347;
  margin: 3rem 0;
}
.tab_right > h1 > span {
  color: #0033cc;
  text-decoration: underline;
}
.tab_right > p {
  width: 90%;
  color: #718096;
  margin: 1rem 0;
}
.lower_section {
  display: flex;
  margin: 1rem 0;
}
.lower_section > span > h5 {
  color: #0033cc;
  margin: 1rem 0;
}
.lower_section > span > p {
  color: #718096;
}
@media (max-width: 980px) {
  .tab_content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .tab_left {
    width: 70%;
  }
  .tab_right {
    width: 70%;
  }
  .tab_right > h1 {
    width: 90%;
  }
}
@media (max-width: 750px) {
  .lower_section {
    flex-direction: column;
  }
  .tab_left {
    width: 90%;
  }
  .tab_right {
    width: 90%;
  }
  .tab_right > p {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .tab_left > img {
    margin: 2rem 0;
  }
  .tab_right > h1 {
    width: 100%;
    font-size: 1.8rem;
  }
}
