.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0033cc;
  padding: 1rem 2rem;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: bolder;
  color: white;
}
.links {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  /* border: 1px solid; */
}
.links > a {
  color: white;
  text-decoration: none;
  font-size: 0.8rem;
}
.btn {
  background-color: #15db95;
  border: 0.1px solid;
  border-color: #15db95;
  width: 7rem;
  height: 3rem;
  border-radius: 0.3rem;
  color: white;
  cursor: pointer;
}
.btn:hover {
  background-color: #0db87c;
}

@media (max-width: 979px) {
  .navbar {
    padding: 0 6rem;
  }
}
@media (max-width: 767px) {
  .navbar {
    padding: 0 2rem;
  }
  .logo {
    font-size: 2.5rem;
  }
  .links {
    display: none;
  }
}

@media (max-width: 557px) {
  .navbar {
    padding: 1rem 1rem;
  }
  .logo {
    font-size: 1.95rem;
  }
  .btn{
    width: 6rem;
    font-size: 0.85rem;
  }
}
